* {
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    background-color: #dcd7c9;
    font-size: 20px;
}

#title {
    left: 0px;
    top: 0px;
    width: 100%;
    color: black;
    text-align: center;
    margin: auto 0px 16px 0px;
    display: flex;
    justify-content: center;
}

#mainframe {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    width: 512px;
    height: 512px;
    outline: 2px solid #000;
    border: none;
    background-color: white;
}

#container > div {
    width: 32px;
    height: 32px;
    outline: 1px solid #000;
    border: none;
    display: inline-block;
}

#toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 32px 0px 0px;
    width: 128px;
    height: 512px;
    background-color: aliceblue;
    border: 1px solid black;
}

#color-picker > input[type="color" i] {
    width: 128px;
    height: 96px;
    margin: auto;
    border: 0px;
    background-color: aliceblue;
}

#color {
    width: 24px;
    height: 24px;
    margin: 0px 16px 0px 16px;
    border: 1px solid black;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.grey {
    background-color: gray;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.lime {
    background-color: lime;
}

.green {
    background-color: green;
}

.cyan {
    background-color: cyan;
}

.blue {
    background-color: blue;
}

.darkblue {
    background-color: darkblue;
}

.purple {
    background-color: purple;
}

.magenta {
    background-color: magenta;
}

.pink {
    background-color: pink;
}

#frame-resize {
    margin-bottom: 12px;
}

#footer {
    left: 0px;
    bottom: 0px;
    width: 100%;
    color: black;
    text-align: center;
    margin: 64px 0px auto 0px;
}

a {
    text-decoration: none;
    color: black;
}